html,body{
  height:100%;
}
html{
  font-size: 14px;
}
body{
  font-family: 'Poppins', sans-serif!important;
}
#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header{
  min-height: 50px;
  background-color: antiquewhite;
  padding:10px 0; 
}
.header .logo{
  max-width:60px;
}
.footer{
  background-color: antiquewhite;
  font-size: 1rem;
  padding: 10px 0;
}
.main-container{
  display: flex;
  flex: 1 1 auto;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
}